body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease; /* Добавим анимацию при смене темы */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s ease; /* Добавим анимацию при смене темы */
}

.input-section input::placeholder,
.info p,
.log-section li,
.session-button,
.save-button {
    color: #333; /* Цвет текста элементов формы, параграфов, списка и кнопок */
}

.input-section input,
.info p,
.log-section li,
.session-button,
.save-button {
    background-color: #EEEEEE; /* Цвет фона элементов */
    border: 1px solid #CCCCCC; /* Цвет рамки */
    color: #333; /* Цвет текста */
}

.save-button,
.session-button {
    background-color: #4CAF50; /* Цвет кнопок "Сохранить" и "Новая серия" */
    color: white; /* Цвет текста кнопок */
}

.save-button:hover,
.session-button:hover {
    background-color: #45A049; /* Цвет при наведении на кнопки "Сохранить" и "Новая серия" */
}

.save-button i,
.session-button i {
    margin-right: 10px;
}

.log-section {
    background-color: #FFFFFF; /* Цвет фона секции журнала */
}

.log-section li {
    background-color: #EEEEEE; /* Цвет фона элементов списка */
    border-radius: 8px; /* Радиус скругления у элементов списка */
    padding: 10px; /* Внутренний отступ для элементов списка */
    margin-bottom: 10px; /* Внешний отступ между элементами списка */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для элементов списка */
}

.log-section li.earning {
    border-left: 4px solid #4CAF50; /* Цвет рамки у элементов списка с классом "earning" */
}

.log-section li.expense {
    border-left: 4px solid #f44336; /* Цвет рамки у элементов списка с классом "expense" */
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.theme-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.theme-toggle button:hover {
    color: #FFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .input-section input {
        width: 100%;
    }
}
