body {
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease; /* Анимация при смене темы */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    animation: fadeIn 0.5s ease-in-out;
    transition: background-color 0.3s ease; /* Анимация при смене темы */
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.input-section input {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 12px;
    color: #333;
    margin-bottom: 15px;
    width: 80%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.save-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.save-button i {
    margin-right: 10px;
}

.save-button:hover {
    transform: scale(1.05);
    background-color: #45A049;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.info p {
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.session-button {
    background-color: #3b82f6;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.session-button i {
    margin-right: 5px;
}

.session-button:hover {
    transform: scale(1.05);
    background-color: #357AE8;
}

.log-section {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.log-section ul {
    list-style: none;
    padding: 0;
}

.log-section li {
    background-color: #EEEEEE;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.log-section li.earning {
    border-left: 4px solid #4CAF50;
}

.log-section li.expense {
    border-left: 4px solid #f44336;
}

@media (max-width: 600px) {
    .input-section input {
        width: 100%;
    }
}

.dark-theme {
    background-color: #333;
    color: #EEE;
}

.dark-theme .input-section input,
.dark-theme .info p,
.dark-theme .log-section li,
.dark-theme .session-button,
.dark-theme .save-button {
    background-color: #444;
    border-color: #666;
    color: #EEE;
}

.dark-theme .save-button:hover,
.dark-theme .session-button:hover {
    background-color: #5a5a5a;
}

.dark-theme .log-section {
    background-color: #555;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.theme-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.theme-toggle button:hover {
    color: #FFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
